# ==========================================
# CONFIGURAÇÕES DO SISTEMA - ABERTURA LOS / RBX
# ==========================================

# 1. API DO RBX (Para descriptografar senhas PPPoE)
RBX_API_URL=https://trixnet.rbxsoft.com/routerbox/ws/rbx_server_json.php
RBX_API_KEY=

# 2. BANCO DE DADOS MYSQL DO RBX
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=
